In [2]:
print("hello world")

hello world

# test1
## test 2
### test3
#### test 4

# insert image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhWNvH5VNEPbN6m3FZHA4Sji70zmglK6YWKtmg_9O2zswLr8le)

# site insertion
[site](https://www.google.com/search?q=MOUNTAINS&sxsrf=ACYBGNS501ZkzabN-aVC6X1JBukvih_Etw:1575346834205&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjMmc2j0JjmAhXBbSsKHfEsBXoQ_AUoAXoECBMQAw&biw=1440&bih=789#imgrc=9iZ6-M1_FXxV3M)

### for creating ordered list
1. abc
2. efg
    1. a
    2. b
3. hij
    1. c
    2. d

### **bold and single * italic text
**gitam<br>

In [7]:
print ("hello world")

hello world

In [10]:
# variable creating
a=10
b=10
a+b

20

In [16]:
name = "gitam"
print("university:"+ name)

university:gitam

In [18]:
name = input("enter the name")
age = int(input("enter age"))
print("my name is:",name,"and my age is:",age)

enter the namesaitheja
enter age20
my name is: saitheja and my age is: 20

In [22]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print("sum is",a+b,"diff is",a-b,"product is ",a*b,"div is",a/b)

enter the value of a10
enter the value of b5
sum is 15 diff is 5 product is  50 div is 2.0

In [3]:
a = 10
b = 12.05
c = 5+5j

print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [5]:
c=complex(3,4)
print(c)

(3+4j)

In [7]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [12]:
a=10
b=20
a>b

False

In [14]:
s1="abc"
s2="xyz"
 
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [18]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
print(a)
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
100
<class 'int'>
1

In [21]:
a1=1234
print(len(str(a1)))

4

In [27]:
a=10
b=20
c=10 and 20
print(c)

20

In [37]:
a=10
b=20
a>b

False

In [43]:
#arthematic operations
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)  #displays the value of Q
print(n1/n2)  #displays the value of remainder
print(n1//n2) #displays the value without the value after the decimal point
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

In [41]:
#relational operators
print(n1 == n2)
print(n1 != n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [49]:
#loial operations
n1=20
print(n1>=10 and n1<=20) #if both conditions satisfy it will display true
print(n1>=10 or n1<=20)  #it checks either of conditions to be true any 1 is enough to display true
print(not n1)

True
True
False

In [54]:
a=10
b=20
print(a>b) #if 2 numbers are equal then it will display false
print(a<b) #              ""
print(a==b)
print(a!=b)
print(a<=b) #if 2 numbers are equal it will dispaly true 
print(a>=b) #            ""

False
True
False
True
True
False

In [57]:
#membership operators
f = [1,2,3,4]
print (1 in f)           #since number 1 is there in the sequence the output will be true (in)
print (5 in f)           #since number 5 is not there in the sequence the o/p is false (in)
print (6 not in f)       #since the number 6 is not present in te sequence o/p is true(not in)

True
False
True

#conditinal statements 
1.if
2.else
3.elif
###syntax :
######if condiion :
> statements<br>
##### else:
> statements

In [62]:
#to check even o odd
n=int(input("enter the number"))
if n%2 == 0:
    print("even")
else:
        print("odd")

enter the number10
even

In [2]:
#to check the given number is multiple of 3 and 5
n=int(input("enter the number"))
if n%3==0 and n%5==0:
    print("multiple") 
else:
    print("not multiple")

enter the number25
not multiple

In [1]:
#to check the given number is positive,negative or zero
n = int(input("enter the number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
   print("zero")

enter the number1
positive

In [3]:
#check the input is leap year or not
year=int(input("enter the year"))
if year%4==0 or (year%100!=0 and year %4==0):
    
      print("leap year") 
else:
    print("not a leap year")

enter the year2020
leap year

In [11]:
#loops
#print no from 1 to n
n = int(input("enter the number"))
i=1
while i<= n: 
    print(i,end=" ")
    i=i+1

enter the number9
1  2  3  4  5  6  7  8  9

In [ ]:
#output should be sum of even numbers from 1 to n
n = int(input("enter the number"))
i=1
s=0
while i<=n:
    if i % 2==0:
        s=s+i
        i=i+1
print(s)

enter the number10