In [3]:
###functinal programming
#1.simple
#2.easy to understand
#3.better reuseability
#4.length of the programwill be divided into sub programs

In [4]:
###syntax
#def nameoffunction <parameters>:
     #statments
     #return

In [6]:
#read a number 
#print the even didgit sum from the number
#input= 1234
def evendigitsum(n):
    s=0
    while n != 0:
        r = n % 10
        if r%2==0:
            s=s+r
        n=n//10
    return s 
evendigitsum(1234)

6

In [2]:
#define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [4]:
def square(x):
    return x*x
square(3)

9

In [9]:
def cube(x):
    return x*x*x
cube(11)

1331

In [12]:
def multiply (x,y=0):
    print("the value of x=",x)
    print("the value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

the value of x= 4
the value of y= 2
8

In [22]:
#swap values
def swap(x=2,y=3):
    temp=x
    x=y
    y=temp 
    return (x,y)
swap(x,y)

(3, 2)

In [24]:
#input =19535
#output=largest number in the given number i.e 9
def largedigit(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large
largedigit(19535)

9

### For loop
##### syntax 1:
for i in range (start,stop,step):
> statements
##### syntax 2:
for i in iterableobject:
> statements

In [30]:
#function to print the prime numbers btw two limits

def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return   
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

#### collection types
1. List
2. Tuple
3. set
4. Dictionary

## List:
1. one of the data types in python
2. data structure means to store,sort and search options
3. its one common data structure in python,the items of list seperaqted by comma and enclosed in square backets [ ]
 
#### Examples:
- list1 =[1,2,3,4,5]
- list2=["Gitam",1,2]

In [49]:
li=[1,8,16,9,2] #address of the numbers from left to right is (0,1,2,3,4) and from left to right is (-5,-4,-3,-2,-1) 
print(li) #will print the list itens
print(li[0])
print(li[1])
print(li[-5])
print(li[2:]) #this : will print all the numbers from the respective numbers address
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [55]:
#To update list
li= ['Gitam',1234,'hyd']
print(li)
li[1]=456
print(li)

['Gitam', 1234, 'hyd']
['Gitam', 456, 'hyd']

In [59]:
#delete a value from the list
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']