In [2]:
#basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [70]:
li=[1,9,16,25,5]
li.append(29) #adds new item at the at the last position
li

[1, 9, 16, 25, 5, 29]

In [42]:
li=[1,9,16,25,5]
li.insert(2,56) #adds new item at the index mentioned before the comma ex:- here index is 2
li

[1, 9, 56, 16, 25, 5]

In [44]:
li=[1,9,16,25,5,9]
li.count(9) #countrs the number of same numbers given in the ()

2

In [47]:
li=[1, 9,29,56, 16, 25, 5]
li.index(56) #gives the index where the numbers is present in the list

3

In [28]:
#method of list object
li=[1,9,16,56,25,5,9]
li.sort()#sorts the list in assending order
li

[1, 5, 9, 9, 16, 25, 56]

In [25]:
li=[1,9,16,56,25,5,9]
li.pop()#last index value will be removed
li

[1, 9, 16, 56, 25, 5]

In [30]:
li=[1,9,16,56,25,5,9]
li.pop(1) #particular index value is delted with index 1 i.e 9 here
li

[1, 16, 56, 25, 5, 9]

In [36]:
li1=[1,6,19,25]
li.extend(li1) # adds items to the list
li

[1, 16, 56, 25, 5, 9, 1, 6, 19, 25, 1, 6, 19, 25, 1, 6, 19, 25]

In [49]:
li1=[1,6,19,25]
li1.reverse()
li1

[25, 19, 6, 1]

In [52]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n): #prints the largest number in the list given
    li.sort()
    return li[-n]
li=[19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3)) #prints the n largest number here n is 3

45
22

In [69]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n): #prints the smallest number in the list given
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

### Tuples
- parenthesis --->Tuple and square brackets[] --> list
- difference between list and tuples
  - list are mutable - can be changed / modified
  - used to access and modify , add , delete data
  - tuples are immutable - cannot be changed
  - used to access data only

In [2]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. it works on the concept of set unique data
2. keys,values is the unique identifier for the value
3. each key is seperated from its valuee with colon(:)
4. each key and value is seperated by comma(,)
5. dictionaries enhanced with curly braces({})

In [4]:
d1={"name":"Gitam","Email id":"gitam@gmail.com","Address":"hyderabad"}
d1

{'name': 'Gitam', 'Email id': 'gitam@gmail.com', 'Address': 'hyderabad'}

In [6]:
d1["name"] #acees the specific key

'Gitam'

In [9]:
d1={"name":"Gitam","Email id":"gitam@gmail.com","Address":"hyderabad"}
d1["Email id"]="gitampython@gmail.com" #updates the data
d1

{'name': 'Gitam', 'Email id': 'gitampython@gmail.com', 'Address': 'hyderabad'}

In [11]:
d1["Email id"]

'gitampython@gmail.com'

In [13]:
d1["course"]="python" #adding a key and value
d1

{'name': 'Gitam',
 'Email id': 'gitampython@gmail.com',
 'Address': 'hyderabad',
 'course': 'python'}

In [27]:
d1

{'name': 'Gitam', 'Address': 'hyderabad', 'course': 'python'}

In [29]:
d1.keys()

dict_keys(['name', 'Address', 'course'])

In [31]:
d1.values()

dict_values(['Gitam', 'hyderabad', 'python'])

In [33]:
d1.items() #the list of tuples of keyas and values

dict_items([('name', 'Gitam'), ('Address', 'hyderabad'), ('course', 'python')])

### Strings
- strings
- string slicings
- fundamental programming with string in python

In [35]:
s1='python'
print(s1)
print(type(s1))

python
<class 'str'>

In [40]:
s1='python'
print(s1[0]) #acces the first character
print(s1[1]) #access the second character
print(s1[5]) #access to the last character
print(s1[len(s1)-1]) # similarly access the last charatacer

p
y
n
n

In [42]:
print(s1[-1]) #another way to access last character
print(s1[-2]) #last but one character
print(s1[0:2]) #the first 2 characters
print(s1[:2]) # another way to print first 2 characters
print(s1[-3:]) #last 2 charatcers
print(s1[2:]) #except first 2 charaters

n
o
py
py
hon
thon

In [45]:
print(s1[1:-1]) #printing the charatcers except first and last
print(s1[len(s1)//2]) #middle of the string
print(s1[-1::-1]) #reverse the string
print(s1[-1:-3:-1]) # access the last 2 characters in reverse order
#access the alternate characters
print(s1[::2]) #two characters from the first character in the given series hecne the o/p is pt0
print(s1[::3]) #three characters from the first character in the given series hence o/p is ph
print(s1[::-2]) # from reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [49]:
 #reversing a string 
def reversestring(str):
    return str[-1::-1]
reversestring('programming')

'gnimmargorp'

In [61]:
#check whether the given string is palindrome or not
def ispalindrome(str):
    if str == str[::-1]:
        return True
    else:
        return False
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

### string built-in methods:
1. upper() -- will convert the input string into upper case
2. lower() -- will convert the input string into lower case

In [63]:
s1="python"
print(s1.upper())
print(s1.lower())

PYTHON
python

### string boolean built-in methods
3. islower() -- true if the string hav all characters in lower case
4. isupper() -- true if the string have all characters in upper case
5. istitle() -- true if string is in title case
6. isnumeric() --true if the string is numeric
7. isalpha() -- true if the sring has only alphabets
8. isspace() -- true if the string has sapce

In [75]:
s1="python"
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

True
False
False
False
True
False

In [77]:
s1="Python"
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

False
False
True
False
True
False

In [80]:
s1="123"
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

False
False
False
True
False
False

In [82]:
s1=" "
s2="py th on" #this is not space that is true for is space
print(s1.isspace())
print(s2.isspace())

True
False

## string methods
- join() -- method will concatinates the two strings
- split() -- it returns the klist of strings seperated by white sapce(no parameters)
- replace() -- replaces the specific word/character withy new word /character

In [84]:
s1='python'
print(" ".join(s1))

p y t h o n

In [90]:
s2="python programming easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [92]:
li=['python','programming','learn']
print(",".join(li))

python,programming,learn

In [93]:
s2="python programming easy to learn"
print(s2.split())

['python', 'programming', 'easy', 'to', 'learn']

In [95]:
s2="python programming easy to learn"
print(s2.split('a'))

['python progr', 'mming e', 'sy to le', 'rn']

In [98]:
s2="python programming easy to learn"
print(len(s2))
li=s2.split()
print(li)
print(len(li))

32
['python', 'programming', 'easy', 'to', 'learn']
5

In [100]:
s2="python programming easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [103]:
s2="python programming easy to learn"
print(s2.replace("gra","application"))

python proapplicationmming easy to learn